@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap');

.css-10trblm.e1nzilvr0:hover{
  color: #FFFFFF;
  animation-name: text;
  animation-duration: 3s;
  animation-iteration-count: 10;
}

@keyframes text{
  from {color: #FFFFFF;}
  to {
    color: #D1B2FF;
    transform: scale(110%, 110%)
  }
}

/* 버튼 크기 지정 */
.css-7ym5gk.ef3psqc11{
    width: 100%;
    height: 50px;
}

.css-1v0mbdj.e115fcil1{
    margin: auto;
    width: 80%;
    height:70%;
}
