@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap');

/*
.css-10trblm.e1nzilvr0:hover{
  font-size: 100%;
  font-family: 'Grandiflora One', serif;
  color: rgb(118, 118, 118);
  text-align: center;
  text-shadow: 3px 3px 10px #838383;
}
*/

/* 버튼 크기 지정 */
.css-7ym5gk.ef3psqc11{
    width: 100%;
    height: 50px;
}

.css-1v0mbdj.e115fcil1{
    margin: auto;
    width: 80%;
    height:70%;
}
