@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap');

css-zt5ig. e1nzilvr3:hover{
  color: #FFFFFF;
  animation-name: text;
  animation-duration: 1s;
  animation-iteration-count: 10;
}

@keyframes text{
  from {color: #FFFFFF;}
  to {
    color: #6799FF;
  }
}

/* 버튼 크기 지정 */
.css-7ym5gk.ef3psqc11{
    width: 100%;
    height: 50px;
}

.css-1v0mbdj.e115fcil1{
    margin: auto;
    width: 80%;
    height:70%;
}
